<h3>Welcome to Sinatra!</h3>
<form action="/submit" method="POST">
	<dl>
<dd><input type="text" name="model[name]" value="Enter Model Name" /></dd>
	<dd><input type="text" name="" value="Enter Password" /></dd>
	<dd><input type="radio" name="answer" value="a3">Destroy message after the first link visit </p></dd>
	<dd><input type="radio" name="answer" value="a3">Destroy after 1 hour</p></dd>

	<input type="submit" value="Submit" />
	</dl>
</form>